body {
  background-color: #141414;
  color: #ffffff;
  font-family: "Playfair Display", serif;
}

h1 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 40px;
}

h2 {
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #e5e5e5;
  line-height: 1;
  padding-bottom: 5px;
}

h3 {
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 1px;
}

.App {
  width: 90%;
  padding: 30px;
  margin: 0 auto;
}
